{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hi! my name is Truc Huynh. I am an entrepreneur, a US Army veteran, a full stack developer, and a data enthusiastic. My projects included:</p>
        <ul>
          <li>Machine Learning, Deep Learning (Programming Languages: R, Python | Tools/ Framework: OpenCV, RStudio, RShiny, Matplotlib, Pandas) </li>
          <li>Full Stack Web Development (Programming Languages: Python, HTML, CSS, JavaScript, MySQL | Tools/ Framework: Flask, Jinja, Bootstrap 5)</li>
          <li>Backend Development (Programming Languages: Python, Java, C# | Tools/ Framework: .NET, Apache TomCat)</li>
        </ul>
        <p>All my projects are hosted on <a href="https://github.com/jackyhuynh"> GitHub </a>. In addition to software development, I enjoy writing software academic posts, researching code improvement, and learning new software development strategies and packages. How to use software to improve human life is always my concern.</p>
        <p>My top skills are Python, C++, Full Stack Development, Data Visualization, OOP Design, Mathematics, Problem-Solving, Data Structures, and algorithms. In addition, I have several years of experience in project management, IT support, and customer services through different industries.</p>
        <p>I currently attend Purdue for a Master's in Computer Sciences. I love to share my knowledge with people and want to make the world a better place to live. A little about my biography:</p>
        <ol>
          <li>1987: Born in Ho Chi Minh city, Vietnam</li>
          <li>2006: Attend Hoa Sen University in Vietnam</li>
          <li>2011: Immigrate to the United States of American</li>
          <li>2012: Attend De_Anza college (start learning about Computer Sciences)</li>
          <li>2014: Join the US Army</li>
          <li>2017: Attend ECPI university</li>
          <li>2018: Co-founder of Luxe Nails & Spa LLC</li>
          <li>2020: Married to my long year friend</li>
          <li>2021: Attend Purdue University the Graduate School/ COVID-19 Vaccinated</li>
          <li>2021: Co-founder of 7 Figures Traders</li>
          <li>To be continued</li>
        </ol>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}