{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{url_for('static', filename='img/jobs.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Indeeds Job Recommend System</h1>
            <span class="subheading">AI Based Application for job recommendation</span>
          </div>
        </div>
      </div>
    </div>
  </header>


    <div class="container">
        <h1>Upload New Resume</h1>
        <form class="container" method=post enctype=multipart/form-data>
          <div class="row">
            <input type=file name=file>
            <input class="btn btn-primary float-right" type=submit value=Upload href="{{url_for('get_all_posts')}}">
          </div>
        </form>
    </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto content">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
           <p>{{ message }}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
      </div>
    </div>
  </div>


{% include "footer.html" %}
{% endblock %}