{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{url_for('static', filename='img/home-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Indeeds Job Recommend System</h1>
            <span class="subheading">AI Based Application for job recommendation</span>
          </div>
        </div>
      </div>
    </div>
  </header>

    <body>
    <div class="container">
        <h1>Upload new File</h1>
        <form class="container" method=post enctype=multipart/form-data>
          <div class="clearfix">
            <input type=file name=file>
          </div>

          <div class="clearfix">
            <input class="btn btn-primary float-right" type=submit value=Upload href="{{url_for('get_all_posts')}}">
          </div>
        </form>
    </div>
    </body>

{% include "footer.html" %}